/*Last style sheet was "by the books" and simple. Im gonna go for a 90s style of website*/

@import url('https://fonts.googleapis.com/css2?family=Electrolize&family=Honk&family=Oswald:wght@200..700&family=Quantico&family=Roboto&family=Zen+Loop:ital@0;1&family=Zen+Tokyo+Zoo&display=swap');

/*background-image: url("image/neonbackground.jpg");*/

#css-zen-garden {
    background-color: rgb(185, 185, 185); /*sets the background for the entire page*/
    background-size: cover; /* Ensures the image covers the entire background */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
}

.page-wrapper{
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 0.6fr 1.4fr; 
    grid-template-rows: 1.2fr 1.2fr 0.6fr; 
    gap: 0px 0px; 
    grid-template-areas: 
      "intro main"
      "sidebar main"
      "footer footer"; 
  }

/*Footer is broken?!*/

footer {
    grid-area: footer;
    border: 10px red solid;
    grid-area: footer;
}

.explantion, .participation, .benefits, .requirements {
    grid-area: main;
    border: 10px red solid;
}

.intro {
    grid-area: intro;
    border: 10px red solid;
    height: fit-content;
}

.sidebar {
    grid-area: sidebar;
    border: 10px red solid;
    height: fit-content;
}


h1 {
    font-family: "Honk", system-ui;
    font-size: 4em;
    margin: auto;
    background-color: rgb(96, 238, 139);
    width: 7em;
    margin: .25em 1em;
    padding: .25em;
    border: .5em rgb(244, 121, 255) outset;
}