/*This ID embodies the entire page and turns it this greenish color*/
#css-zen-garden {
    background-color: rgb(185, 185, 146);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*This class emboides the entire page and wraps it in a big grid*/
.page-wrapper {
    display: grid;
    gap: 10px;
    padding: 10px;
}

/*The ">" specifies the h1 of the header section of the intro class specfically*/
/*Wraps the header into a box with a border, unique font size, centered text, colored background and fitted margin*/
.intro > header > h1 {
    background-color: rgb(234, 189, 122);
    border: 5px rgb(68, 78, 66) groove;
    text-align: center;
    font-size: 40px;
    margin: auto;
}
