/*This ID embodies the entire page and turns it this greenish color*/
#css-zen-garden {
    background-color: rgb(185, 185, 146);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/*This class emboides the entire page and wraps it in a big grid*/
.page-wrapper {
    display: grid; /*Wraps entire page in a grid*/
    gap: 10px; /*Each cell of the grid has a 10px gap*/
    padding: 10px; /*Each cell has 10px of padding*/
}

/*The ">" specifies the h1 of the header section of the intro class specfically*/
/*Wraps the header into a box with a border, unique font size, centered text, colored background and fitted margin*/
.intro > header > h1 {
    background-color: rgb(234, 189, 122); /*Sets the boxes color*/
    border: 5px rgb(68, 78, 66) groove; /*Puts a groove border on the box*/
    text-align: center; /*The text within the box is centered*/
    font-size: 40px; /*The text has a font size of 40px*/
    margin: auto; /*The margin is automatically adjusted to fit the container*/
}
